.fullRecipe {width: 100%;
min-height: calc(100vh - 58px);
display: flex;
margin-top: 40px;
}

.container {
  margin: auto;
}
  .fullRecipeCard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
    .fullRecipeBg {
      width: 100%;
      max-width: 100%;
      min-height: 500px;
      height: 500px;
    }

    .fullRecipeInfo {
      width: 100%;
      padding: 0 38px;
      color: #000;
    }

    .fullRecipeInfo h2{
      color: #000;
      font-size: 37px;
    }

    .fullRecipeInfo p{
      color: #353b80;
      font-size: 27px;
      margin-bottom: 20px;
      text-transform: capitalize;
    }

    .fullRecipeInfo ul{
        padding-left: 40px;
    }

    .fullRecipeInfo .btns{
        background-color: #353b80;
        padding: 5px 25px;
        margin-top: 20px;
        color: #fff;
        cursor: pointer;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}

.fullRecipeInfo .btns:hover{
    background: transparent;
    color: #000;
    border: 1px solid #353b80;
    transition: 600ms;
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -ms-transition: 600ms;
    -o-transition: 600ms;
}

.fullRecipeInfo .btns:focus{
    outline: none;
}
