.recipess{
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    margin-top: 10px;
}

.recipeBg{
    position: relative;
    display: flex;
    justify-content: center;
}


.show-back{
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: 20px 0;
}


.show-back p{
    color: #fff;

}

@media screen and (max-width:1070px){
    .recipess{
        width: 97%;
    }
}

