

.hero .container:nth-child(1) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hero .container:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.hero h1{
    margin-top: 20px;
    font-size: 30px;
}

.hero h1::after{
    content:"";
    display:block;
    height:1px;
    width:50%;
    background:#ccc;
    margin-top: 10px;
}

.hero h1:nth-child(2)::after{
    content:"";
    display:none;
}

.hero h1:nth-child(3)::after{
    content:"";
    display:none;
}