
.hero .hero-fix{
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
}


.hero .container:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hero .container:nth-child(4) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.hero h1{
    margin-top: 20px;
    font-size: 30px;
}

.hero .fix-h{
    margin-top: 50px;
}

.hero h1::after{
    content:"";
    display:block;
    height:1px;
    width:15%;
    background:#ccc;
    margin-top: 10px;
}

@media (max-width: 1110px) {
    .hero .hero-fix{
        max-width: 94%;
    } 

    .hero .container{
        max-width: 100%;
    } 
}

@media screen and (max-width: 700px) {

    .hero .container:nth-child(4) {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 450px) {

    .hero .container:nth-child(2) {
        display: block;
    }
    
    .hero .container:nth-child(4) {
        display: block;
    }
    
}
